.planner-row-container{
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: relative;
}

  .planner-row-container .planner-entry{
    display: block;

    position: absolute;

    writing-mode: vertical-lr;
    font-size: 1.25rem;
  }
  .planner-row-container .planner-entry.day-task{
    bottom: 0;

    background: var(--ion-color-warning);
    writing-mode: horizontal-tb;
    font-size: 1.1rem;
  }
  .planner-row-container .planner-entry.planner-division{
    background: none;
    border-left: #333 1px dotted;
    opacity: 0.3;
  }
